/* basic styles */

/* 100% of browser's default font size */
/* relative unit of line height is 1.5x the font-size */
/* box sizing tells browser how big the elements of web page are: content, margin, padding, border */
html {
  font-size: 100%;
  line-height: 1.5rem;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

/* margin on top and bottom = 0, margin on left and right = auto; this centers everything on the screen */
/* no default padding */
/* 100% height and width */
body {
  background-color: #aca595;
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
  max-width: 100%;
}

/* allows box sizing to work on all the elements properly */
/* star-everthing else inherits box sizing; i.e. box sizing works on all elements */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* responsive images and video */
img,
video {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coming-soon-font {
  font-family: Arial, Helvetica, sans-serif;
  text-size-adjust: auto;
  font-weight: bold;
  /* margin-top: 10px; */
}
