body {
  font-family: Montserrat, sans-serif;
  color: #1a1b1f;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

.navigation-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.navigation-items:medium {
  background-color: white;
}

.navigation {
  display: flex;
  padding: 30px 50px;
  align-items: center;
  background-color: transparent;
}

.logo-link {
  z-index: 1;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.7;
}

.logo-link:small {
  padding-left: 0px;
}

.logo-link:current {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.navigation-wrap {
  display: flex;
  margin-right: -20px;
  align-items: center;
}

.navigation-item {
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0.6;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navigation-item:hover {
  opacity: 0.9;
}

.navigation-item:active {
  opacity: 0.8;
}

.navigation-item.w--current {
  opacity: 1;
  color: #1a1b1f;
  font-weight: 600;
}

.navigation-item.w--current:hover {
  opacity: 0.8;
  color: #32343a;
}

.navigation-item.w--current:active {
  opacity: 0.7;
  color: #32343a;
}

.section {
  margin-top: 100px;
  margin-right: 30px;
  margin-left: 30px;
}

.section:small {
  margin-right: 15px;
  margin-left: 15px;
}

.greeting-grid {
  height: auto;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  grid-template-rows: auto;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.intro-wrap {
  margin-bottom: 140px;
}

.name-text {
  font-size: 34px;
  line-height: 34px;
  font-weight: 400;
}

.horizontal-divider {
  width: 300px;
  height: 1px;
  margin-top: 15px;
  background-color: black;
}

.heading-jumbo {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 64px;
  line-height: 80px;
  text-transform: none;
}

.intro-pic img {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
  margin-bottom: 140px;
}

@media (max-width: 768px) {
  .greeting-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

.works-grid {
  margin-bottom: 80px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-areas: "..." "...";
  grid-template-columns: 1.5fr 1fr 1.5fr;
  grid-template-rows: auto auto;
}

.works-grid:medium {
  display: flex;
}

/* Coming Soon: basic styles */
/* 100% of browser's default font size */
/* relative unit of line height is 1.5x the font-size */
/* box sizing tells browser how big the elements of web page are: content, margin, padding, border */
html {
  font-size: 100%;
  line-height: 1.5rem;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

/* margin on top and bottom = 0, margin on left and right = auto; this centers everything on the screen */
/* no default padding */
/* 100% height and width */
/* body {
  background-color: #aca595;
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
  max-width: 100%;
} */

/* allows box sizing to work on all the elements properly */
/* star-everthing else inherits box sizing; i.e. box sizing works on all elements */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* responsive images and video */
img,
video {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coming-soon-font {
  font-family: Arial, Helvetica, sans-serif;
  text-size-adjust: auto;
  font-weight: bold;
  /* margin-top: 10px; */
}
